.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
}
.btn:hover {
  color: #000000 !important;
  background: #ffffff;
}
.btn-yellow {
  background: #eaa71d;
  border-color: #eaa71d;
  color: #000000;
}
.btn-yellow:hover {
  border-color: #ffbe3d;
  background: #ffbe3d;
}
.btn-red {
  border-color: #df8790;
}
.btn-red:hover {
  background: #df8790;
  color: #ffffff !important;
}

.btns {
  text-align: center;
}
.social-media {
  text-align: center;
  padding: 10px;
}
.social-media li {
  font-size: 10px;
  display: inline-block;
  margin-right: 8px;
}
.social-media .icon {
  color: #ffffff;
}
.social-media .icon:hover {
  color: #ff1900;
}
.social-media li:last-of-type {
  margin-right: 0;
}
.text-light {
  opacity: 0.7;
}
