@media only screen and (min-width: 300px) {
  .speakers .speakers-list {
    max-width: 20em;
  }
}
@media only screen and (min-width: 480px) {
  .header .header-left,
  .header .header-right {
    height: 80px;
    padding: 12px 10px;
  }
  .header .header-right {
    padding: 20px 10px;
  }
  .news .news-countdown {
    max-width: 20em;
    margin: 20px auto;
  }
  .top-container {
    font-size: 140%;
  }
  .top-container .btns .btn:last-of-type img {
    width: 18px;
    transform: none;
  }
  .top-container .btns .btn {
    border-radius: 18px;
  }
  .section-empowerment {
    padding: 20px 50px;
    font-size: 120%;
  }
  .section-empowerment .btns {
    margin: 15px 0;
  }
  .section-empowerment .btns .btn {
    font-size: 60%;
    padding: 10px 20px;
    border-radius: 16px;
  }
  .gradient {
    height: 100px;
  }
  .gradient.stats {
    text-align: center;
  }
  .gradient.stats .news-countdown {
    font-size: 80%;
    padding: 20px 0;
    display: inline-block;
    margin: auto;
    color: #ffffff;
  }
  .speakers h3 {
    font-size: 120%;
    margin: 12px 0 20px 0;
  }
  .speakers-container {
    height: 380px;
    margin-top: 8px;
  }
  .speakers-container .speakers {
    top: -35px;
    height: 450px;
    padding: 20px 0;
  }
  .speakers .speakers-list {
    max-width: 30em;
  }
  .speakers .speaker {
    width: 25%;
    margin: 8px;
  }
  .schedule-container {
    font-size: 120%;
  }
  .schedule {
    height: 410px;
  }
  .schedule .schedule-container {
    height: 445px;
    top: -35px;
  }
  .schedule-container .calendar-img {
    width: 3em;
  }
  .schedule-container .rooms li {
    font-size: 50%;
    padding: 10px 5px;
  }
  .schedule-container .days {
    margin: 8px 0;
  }
  .schedule-container p {
    font-size: 70%;
  }
  .schedule-container .posts .post {
    padding: 8px;
  }
  .post-content .post-toggle {
    width: 1em;
  }

  .speakers.past-speakers .speaker {
    width: 12em;
  }
  .testimonials {
    font-size: 120%;
    margin-bottom: 16px;
  }
  .testimonial-card .left-circle {
    width: 5em;
    height: 5em;
    left: -2.5em;
  }
  .testimonial-card .content {
    padding: 0 2.5em;
  }
  .early-tickets {
    height: auto;
  }
  .sponsors-group {
    font-size: 130%;
  }
  .sponsors-list .sponsor-img {
    width: 10em;
    padding: 1em;
  }
  .location-section {
    font-size: 120%;
  }
  .updates-section h3 {
    font-size: 120%;
  }
  .updates-section .input {
    font-size: 80%;
    max-width: 28em;
  }
  .updates-section .input .mail-logo {
    bottom: 2px;
  }
  .bottom {
    font-size: 120%;
  }
  .footer {
    font-size: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .header .header-left,
  .header .header-right {
    padding: 6px 20px;
  }
  .header .header-right {
    padding: 15px 10px;
  }
  .header-right .hamburger-menu {
    display: none;
  }
  .header-right .nav {
    display: block;
    position: static;
    float: right;
    background: none;
    width: initial;
  }
  .header-right .nav li {
    display: inline;
    padding-right: 8px;
  }
  .nav-links li:hover a {
    color: #eaa71d;
  }

  .header-right .nav li a {
    font-size: 50%;
  }
  .top-container {
    font-size: 170%;
  }
  .top-container .btns .btn:last-of-type img {
    width: 24px;
    transform: none;
  }
  .section-empowerment {
    padding: 32px 50px;
    font-size: 140%;
  }
  .section-empowerment h1 {
    margin-bottom: 16px;
  }
  .section-empowerment p {
    line-height: 24px;
  }
  .gradient {
    height: 120px;
  }
  .gradient.stats .news-countdown {
    font-size: 100%;
    padding: 15px 0;
    color: #ffffff;
  }
  .speakers h3 {
    font-size: 160%;
  }
  .speakers-container {
    height: 450px;
    margin-top: 8px;
  }
  .speakers-container .speakers {
    width: 85vw;
    left: 7.5vw;
    top: -55px;
    height: 560px;
  }
  .speakers .speakers-list {
    max-width: 40em;
  }
  .speakers .speaker {
    width: 25%;
    margin: 8px;
  }
  .speakers .speaker .speaker-info {
    font-size: 60%;
  }
  .schedule-container {
    font-size: 150%;
  }
  .schedule {
    height: 480px;
  }
  .schedule .schedule-container {
    width: 85vw;
    left: 7.5vw;
    height: 535px;
    top: -55px;
  }
  .schedule-container .days {
    margin: 8px 0;
  }
  .schedule-container p {
    font-size: 70%;
  }
  .testimonials {
    font-size: 140%;
    margin-bottom: 16px;
  }
  .testimonial-card {
    width: 40%;
    margin: 16px;
    display: inline-block;
  }
  .testimonial-card .left-circle {
    width: 6em;
    height: 6em;
    left: -3em;
  }
  .testimonial-card .content {
    padding: 0 3em;
  }
  .early-tickets {
    height: auto;
    font-size: 140%;
  }
  .sponsors {
    font-size: 140%;
  }
  .sponsors-list .sponsor-img {
    width: 4em;
    height: 4em;
    padding: 0.5em;
  }
  .location-section {
    font-size: 140%;
  }
  .updates-section {
    height: auto;
    padding: 32px 0;
  }
  .updates-section h3 {
    font-size: 140%;
    margin-right: 16px;
  }
  .updates-section h3,
  .updates-section .input {
    display: inline-block;
  }
  .bottom {
    font-size: 120%;
  }
  .bottom-top {
    text-align: center;
  }
  .bottom-top {
    padding: 20px;
  }
  .bottom-top h3 {
    text-align: left;
    vertical-align: top;
  }
  .bottom-top .conference,
  .bottom-top .nav,
  .bottom-top .pictures {
    display: inline-block;
    width: 30%;
    margin: 8px;
    text-align: left;
    padding-top: 0;
    vertical-align: middle;
  }
  .bottom-top .nav {
    width: 15%;
  }
  .bottom-top .social-media {
    text-align: left;
  }
  .bottom-top .pictures img {
    width: 50px;
  }
  .footer {
    font-size: 80%;
  }
}
@media only screen and (min-width: 998px) {
  .header {
    padding: 16px;
  }
  .header .header-left,
  .header .header-right {
    height: 100px;
    padding: 0 20px;
  }
  .header .header-right {
    padding: 10px 20px;
    text-align: center;
  }
  .header-right .nav li {
    font-size: 140%;
    padding-right: 10px;
  }
  .top-container .btns .btn {
    padding: 10px 20px;
    font-size: 40%;
  }
  .news .news-header {
    font-size: 180%;
  }
  .news .news-countdown {
    font-size: 100%;
    max-width: 15em;
    margin: 20px auto;
  }
  .top-container .btns .btn:last-of-type img {
    width: 18px;
    transform: none;
  }
  .section-empowerment {
    padding: 32px 64px;
    font-size: 180%;
  }
  .section-empowerment .btns {
    margin: 15px 0;
  }
  .section-empowerment .btns .btn {
    font-size: 40%;
  }
  .gradient {
    height: 150px;
  }
  .gradient.stats .news-countdown {
    font-size: 120%;
    padding: 20px 0;
  }
  .gradient.stats .news-countdown .label {
    font-size: 70%;
  }
  .speakers h3 {
    font-size: 200%;
  }
  .speakers-container {
    height: 540px;
    margin-top: 8px;
  }
  .speakers-container .speakers {
    width: 80vw;
    left: 10vw;
    top: -70px;
    height: 680px;
  }
  .speakers .speakers-list {
    max-width: 50em;
  }
  .speakers .speaker .speaker-info {
    font-size: 80%;
  }
  .schedule-container {
    font-size: 180%;
  }
  .schedule {
    height: 580px;
  }
  .schedule .schedule-container {
    width: 80vw;
    left: 10vw;
    height: 650px;
    top: -70px;
  }
  .schedule-container p {
    font-size: 80%;
  }
  .speakers.past-speakers .speaker {
    width: 18em;
  }
  .testimonials {
    font-size: 180%;
    margin-bottom: 16px;
  }
  .testimonial-card {
    width: 40%;
    margin: 24px;
    padding: 8px;
    display: inline-block;
  }
  .testimonial-card .left-circle {
    top: 32px;
  }
  .early-tickets {
    height: auto;
    font-size: 160%;
  }
  .sponsors {
    font-size: 120%;
  }
  .sponsors h3 {
    font-size: 180%;
  }
  .sponsors-list .sponsor-img {
    width: 6em;
    height: 6em;
    padding: 0.5em;
  }
  .location-section {
    font-size: 160%;
    padding: 64px 0;
  }
  .updates-section h3 {
    font-size: 160%;
  }
  .updates-section {
    height: auto;
    padding: 32px 0;
  }
  .bottom {
    font-size: 140%;
  }
  .bottom-top .conference,
  .bottom-top .pictures .bottom-top .pictures {
    width: 25%;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 1500px;
    margin: auto;
  }
  .btn {
    font-size: 60%;
    padding: 12px 30px;
  }
  .header {
    padding: 80px 0 0 0;
    letter-spacing: 1px;
  }
  .header-right .nav li {
    font-size: 140%;
    padding-right: 80px;
  }
  .top-container .btns .btn,
  .header-right .nav .btn {
    padding: 10px 25px;
    font-size: 60%;
    border-radius: 24px;
  }
  .top-container .btns .btn {
    padding: 12px 30px;
  }
  .header-right .nav .btn {
    font-size: 40%;
    padding: 15px 30px;
  }
  .news .news-header {
    font-size: 220%;
    margin: 64px 0 0 0;
  }
  .news .news-countdown {
    margin: 60px auto;
    padding: 20px 16px;
    max-width: 20em;
    font-size: 100%;
  }
  .news-countdown li::after {
    padding: 16px;
  }
  .news .news-info {
    font-size: 80%;
    margin-top: -16px;
  }
  .top-container .play-btn {
    font-size: 150%;
    margin: 80px 0;
  }
  .section-empowerment {
    padding: 100px;
    font-size: 220%;
  }
  .section-empowerment h1 {
    font-size: 130%;
  }
  .section-empowerment p {
    line-height: 40px;
    padding: 30px 50px;
    text-align: center;
  }
  .section-empowerment .btns .btn {
    font-size: 50%;
    border-radius: 26px;
    padding: 15px 44px;
  }
  .gradient {
    height: 250px;
  }
  .gradient.stats .news-countdown {
    font-size: 160%;
    padding: 40px 0;
  }
  .gradient.stats .news-countdown li::after {
    padding: 0 32px;
    font-size: 100%;
    content: "-";
    opacity: 0.5;
  }

  .gradient.stats .news-countdown li:last-of-type:after {
    content: "";
    padding: 0;
  }
  .speakers h3 {
    font-size: 260%;
    margin-top: 80px;
  }
  .speakers-container {
    height: 1040px;
    margin-top: 8px;
  }
  .speakers-container .speakers {
    width: 80vw;
    left: 10vw;
    top: -100px;
    height: 1240px;
  }
  .speakers .speakers-list {
    max-width: 90em;
  }
  .speakers .speaker .speaker-info {
    font-size: 110%;
  }
  .schedule-container {
    font-size: 250%;
  }
  .schedule {
    height: 950px;
  }
  .schedule .schedule-container {
    width: 80vw;
    left: 10vw;
    height: 1050px;
    padding: 80px 0;
    top: -100px;
  }
  .schedule-container .rooms {
    padding: 15px 40px;
    font-size: 80%;
    border-radius: 32px;
  }
  .schedule-container .posts .post {
    padding: 32px 16px;
  }
  .schedule-container .posts .post-body {
    margin-left: 4.5em;
    font-size: 80%;
  }
  .speakers.past-speakers {
    margin: 48px auto;
  }
  .speakers.past-speakers .speaker {
    width: 23em;
  }
  .testimonials {
    font-size: 180%;
    margin: 48px auto;
  }
  .testimonial-card {
    padding: 2em 3em;
  }
  .testimonial-card .left-circle {
    top: 32px;
  }
  .testimonial-card .content p {
    margin: 16px 0;
    line-height: 32px;
  }
  .early-tickets {
    padding: 100px 0;
    height: auto;
    font-size: 200%;
  }
  .sponsors {
    font-size: 160%;
  }
  .sponsors-list .sponsor-img {
    width: 7em;
    height: 7em;
    padding: 0.5em;
  }
  .location-section {
    font-size: 200%;
    padding: 100px 0;
  }
  .location-section .location-box {
    padding: 100px 50px;
    margin-left: 240px;
  }
  .updates-section h3 {
    font-size: 160%;
  }
  .updates-section {
    height: auto;
    font-size: 140%;
    padding: 32px 0;
  }
  .updates-section .input {
    padding: 8px;
    border-radius: 30px;
    transform: translateY(-5px);
  }

  .updates-section .input .mail-logo {
    width: 3em;
    bottom: 7px;
  }
  .updates-section .input .mail-logo .bottom {
    font-size: 140%;
  }
  .bottom .bottom-top {
    padding: 80px 10px;
  }
  .bottom-top .nav,
  .bottom-top .conference,
  .bottom-top .pictures {
    height: 195px;
  }
  .bottom-top .conference p {
    margin: 16px 0;
  }
  .bottom-top .pictures {
    width: 20%;
  }
  .bottom-top .pictures img {
    width: 70px;
  }
  .bottom {
    background: #1c1e1d;
  }
}
