body {
  width: 100%;
}
.root {
  min-width: 100%;
}
.top-container {
  background: url("../images/top_background.png");
  color: #ffffff;
  padding-bottom: 16px;
}
.header {
  position: relative;
}

.header .header-left,
.header .header-right {
  height: 70px;
  padding: 10px 5px;
}
.header .header-left img,
.header .header-right img {
  max-height: 100%;
}
.header .header-right {
  padding: 20px 5px;
}
.header-right .nav {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 50px;
  padding-bottom: 20px;
  background: #2e2e2e;
}
.hamburger-menu:hover + .nav {
  display: block;
}
.nav .nav-links {
  list-style: none;
}
.nav-links li {
  text-align: center;
  margin: 5px 0;
}
.nav-links li a {
  font-size: 80%;
  color: #ffffff;
}
.nav-links li .btn {
  font-size: 70%;
}
.news {
  text-align: center;
}
.news .news-header {
  font-size: 130%;
}
.news .news-info {
  font-size: 70%;
}
.news .news-countdown {
  background: #c9493b;
  max-width: 17.5em;
  margin: 16px auto;
  padding: 8px;
  text-align: center;
}
.news-countdown .countdown,
.news-countdown li {
  display: inline-block;
}
.news-countdown .value {
  font-weight: bold;
  font-size: 140%;
  padding-bottom: 4px;
}
.news-countdown .label {
  margin-top: -5px;
  font-size: 50%;
}
.news-countdown li::after {
  display: inline-block;
  vertical-align: 10px;
  content: "\002D";
  font-size: 140%;
  font-weight: normal;
  padding: 0 5px;
}
.news-countdown li:last-of-type:after {
  content: "";
  margin: 0;
  padding: 0;
}
.top-container .btns .btn {
  color: #ffffff;
  font-size: 60%;
  padding: 8px 20px;
}
.top-container .btns .btn:last-of-type {
  color: #000000;
}
.top-container .btns .btn:last-of-type img {
  width: 13px;
  margin-left: 2px;
  transform: translateY(-1px);
}
.top-container .play-btn {
  margin-top: 16px;
  text-align: center;
}
.top-container .play-btn .play-text {
  margin-top: -5px;
  font-size: 50%;
}
.section-empowerment {
  padding: 10px 40px;
}
.section-empowerment h1 {
  text-align: center;
  font-size: 110%;
}
.section-empowerment p {
  font-size: 60%;
  text-align: justify;
  line-height: 16px;
  color: #151515;
}
.section-empowerment .btns {
  margin: 10px 0;
}
.section-empowerment .btns .btn {
  font-size: 45%;
}
.gradient {
  background: linear-gradient(135deg, #eaa71d, #c9493b);
  height: 60px;
}
.speakers-container {
  position: relative;
  height: 570px;
}
.speakers {
  text-align: center;
  overflow: hidden;
}
.speakers-container .speakers {
  position: absolute;
  background: white;
  width: 95vw;
  left: 2.5vw;
  top: -25px;
  height: 620px;
  box-shadow: 0 0 5px #aaaaaa;
  text-align: center;
}
.speakers h3 {
  margin: 10px 0 16px 0;
  text-align: center;
}
.speakers .speaker {
  display: inline-block;
  width: 40%;
  margin: 4px 0;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}
.speakers .speakers-list {
  max-width: 15em;
  margin: auto;
}
.speakers .speaker:hover {
  transform: scale(1.1);
}
.speakers .speaker img {
  max-width: 100%;
  background: transparent;
}
.speaker .speaker-info {
  position: absolute;
  font-size: 50%;
  color: #ffffff;
  bottom: 5px;
  left: 5px;
  z-index: 2;
}
.speaker .speaker-info .speaker-position {
  text-align: left;
}
.speaker .overlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 1) 92%
  );
}
.speaker .speaker-info .speaker-name {
  font-size: 180%;
  text-align: left;
}
.schedule {
  height: 325px;
  position: relative;
}
.schedule .schedule-container {
  position: absolute;
  height: 350px;
  top: -25px;
  left: 2.5vw;
  width: 95vw;
  background: #ffffff;
  box-shadow: 0 0 5px #aaaaaa;
  text-align: center;
}
.schedule-container .calendar-img {
  width: 2.5em;
  margin: auto;
  margin-top: 16px;
}
.schedule-container .calendar-img img {
  max-width: 100%;
}
.schedule-container p {
  font-size: 50%;
}
.schedule-container .days,
.schedule-container .days li {
  display: inline-block;
}
.schedule-container .days li {
  padding: 0 8px;
  border-right: 1px solid #eaeaea;
  cursor: pointer;
}
.schedule-container li:last-child {
  border: none;
}
.schedule-container .days .value {
  font-weight: bold;
  font-size: 70%;
  padding-bottom: 4px;
}
.schedule-container .days .label {
  margin-top: -5px;
  font-size: 40%;
}

.schedule-container .days .day.active {
  color: #dd4c5c;
}
.schedule-container .days .day:hover {
  color: #d5737f;
}
.schedule-container .rooms {
  display: inline-block;
  border-radius: 10px;
  padding: 5px 20px;
  line-height: 10px;
  background: #f3f3f3;
  width: auto;
}
.schedule-container .rooms li {
  display: inline;
  font-size: 50%;
  font-weight: bold;
  opacity: 0.6;
  padding-right: 8px;
}
.schedule-container .rooms li:hover {
  opacity: 1;
}
.schedule-container .rooms .active {
  opacity: 1;
}
.schedule-container .posts {
  width: 90%;
  margin: 16px auto;
}
.schedule-container .posts .post {
  padding: 4px 8px;
}
.schedule-container .posts .post-img {
  width: 2em;
  height: 2em;
  margin-right: 8px;
}

.schedule-container .posts .post-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.posts .post .post-content {
  text-align: left;
  font-size: 60%;
}
.post .post-content .post-title {
  font-size: 110%;
  margin-bottom: 4px;
}
.speakers.past-speakers .speaker {
  width: 8em;
}
.speakers.past-speakers {
  margin: 16px 0;
}
.testimonials {
  text-align: center;
}
.testimonials > p {
  font-size: 60%;
  margin-bottom: 16px;
}
.testimonial-card {
  font-size: 50%;
  width: 80%;
  display: inline-block;
  margin: 8px auto;
  padding: 5px;
  box-shadow: 0 0 5px #aaaaaa;
  position: relative;
}
.testimonial-card .left-circle {
  position: absolute;
  background: #000000;
  width: 4em;
  height: 4em;
  left: -2em;
  top: 8px;
  border-radius: 100%;
}

.testimonial-card .content {
  padding: 0 1.5em;
  font-size: 120%;
  text-align: left;
}

.testimonial-card .content .info {
  margin-top: 8px;
}
.testimonial-card .content .info .name {
  font-weight: bold;
}
.early-tickets {
  padding: 24px 0;
  text-align: center;
  height: auto;
  color: #ffffff;
}
.early-tickets .news-countdown {
  margin: 8px 0;
}
.early-tickets .btn {
  font-size: 60%;
}
.early-tickets .btn img {
  width: 12px;
}
.sponsors {
  padding: 24px 8px 12px 8px;
  text-align: center;
  font-size: 90%;
}
.sponsors h3 {
  font-size: 150%;
}
.sponsors .sponsors-text {
  margin-bottom: 16px;
}
.sponsors .sponsors-group {
  border-top: 1px solid #ebebeb;
  padding: 16px 0;
}
.sponsors-list .sponsor-img {
  display: inline-block;
  width: 8em;
  padding: 2em;
}
.sponsors-list .sponsor-img img {
  max-width: 100%;
}
.location-section {
  background: url("../images/map.jpg");
  padding: 48px 0;
  background-size: cover;
}
.location-section .location-box {
  background: #ffffff;
  width: auto;
  width: 18em;
  padding: 16px;
  font-size: 60%;
  margin-left: 32px;
}
.location-box h3 {
  font-size: 200%;
}
.location-box .info-list {
  margin: 16px 0;
}
.location-box .info-list li {
  display: block;
}
.info-list .icon {
  width: 1em;
  margin-right: 2px;
  display: inline-block;
}
.info-list .icon img {
  max-width: 100%;
}
.location-section .social-media {
  border-top: 1px solid #eaeaea;
}
.bottom .bottom-top {
  padding: 16px 0;
  background: #1c1e1d;
  font-size: 60%;
  color: #b5b7b6;
}
.bottom-top h3 {
  font-size: 180%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}
.bottom-top .conference,
.bottom-top .nav,
.bottom-top .pictures {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.bottom-top .conference p {
  margin: 8px 0;
}
.bottom-top .conference .social-media {
  padding: 5px;
}
.bottom-top .nav {
  text-align: center;
}
.bottom-top .nav li {
  padding: 4px 0;
}
.bottom-top .nav li a {
  color: #b5b7b6;
}
.bottom-top .nav li a:hover {
  color: #ffffff;
}
.bottom-top .pictures {
  text-align: center;
}
.footer {
  background: #272928;
  color: #b5b7b6;
  font-size: 40%;
  text-align: center;
  padding: 10px;
}
