.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
ul li {
  display: inline;
}
body {
  background: #ffffff;
}
.container {
  width: 1002px;
  margin: auto;
}
.header {
  background: #7dd9e8;
}
.header img {
  margin-top: 8px;
}
.header-container {
  padding: 8px 0;
}
.header-item {
  float: left;
}
.header-logo {
  margin: 0 8px;
}
.input-search-container {
  padding-top: 10px;
  float: left;
}
.input-search {
  background: #caeff7;
  padding: 0 30px;
  border: none;
  height: 20px;
}
.input-search-left,
.search-btn-left {
  transform: translate(5px, 6px);
}
.input-search-right,
.search-btn-right {
  transform: translate(-5px, 6px);
}
.input-search-right-btn {
  transform: translate(-10px, 6px);
}
.search-btn {
  padding-top: 10px;
  float: right;
}
.search-btn-mid {
  background: #244c54;
  padding-bottom: 3px;
}
.header-profile {
  margin-right: 8px;
  float: right;
}
.profile-info,
.profile-links {
  margin: 0 auto;
}
.profile-info {
  margin: 5px auto;
}
.profile-links {
  margin-bottom: 5px;
}

.profile-links li::after {
  content: "|";
  margin: 0 4px;
}
.profile-links li:last-child::after {
  content: "";
}
.navbar {
  background: #f5f5f5;
}
.navbar-container {
  padding: 5px 0;
}
.navbar-links {
  float: left;
}
.navbar-links li {
  margin-right: 35px;
}
.navbar-news {
  float: right;
  height: 100%;
  margin-right: 8px;
}
.navbar-news li {
  margin-right: 8px;
}
.main {
  margin: 32px 0;
}
.main-container {
  margin: auto;
  height: 601px;
  padding: 12px 0;
}
.main-left {
  margin-left: 8px;
  float: left;
}
.sidebar {
  width: 200px;
}
.sidebar li {
  display: block;
}
.sidebar-item {
  margin: auto;
  margin-bottom: 4px;
}
.sidebar-item img {
  float: right;
}
.sidebar-header {
  padding: 4px 0;
  background: skyblue;
}

.main-mid {
  width: 520px;
  margin: 0 32px;
  float: left;
}

.main-header {
  margin-top: 8px;
  margin-left: 16px;
}
.entries-nav {
  margin: 8px auto;
}

.entry-nav-card {
  float: left;
  padding-top: 5px;

  background: #f5f5f5;
}
.btn .active {
  background: #5cc2da;
  padding-bottom: 9px;
}
.entries-list {
  padding: 8px 0;
  height: 376px;
  margin-bottom: 8px;
}
.entry {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #d8d8d8;
}
.entry .entry-img {
  float: left;
}
.entry .entry-content {
}
.entry-info li::after {
  content: "|";
  margin: 0 4px;
}

.entry-info li:last-child::after {
  content: "";
}
.main-right {
  width: 200px;
  float: right;
}

.footer {
  background: #727272;
}
.footer-container {
  /* height: 37px; */
  padding: 4px 0;
}
.footer-nav,
.footer-trademark {
  height: 100%;
  float: left;
  margin: 0 8px;
}
.footer-nav {
}
.footer-trademark {
  float: right;
}
