* {
  margin: 0;
  padding: 0;
}
.carousel-container {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 64px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.carousel-image-wrapper {
  position: absolute;
}
.carousel-image-wrapper::after {
  clear: both;
  content: ' ';
  display: block;
}
.carousel-image-wrapper img {
  float: left;
}
