body {
  text-align: center;
}
.root {
  display: inline-block;
}
.root-container {
  float: left;
  text-align: center;
  margin: 0 16px;
}
.hyperparam-list {
  margin: 32px 0;
}
.hyperparam-list li {
  display: inline;
  margin-right: 24px;
}

.hyperparam-list label,
.hyperparam-list input,
.hyperparam-list select,
.hyperparam-list option {
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 10px;
}

.hyperparam-list input[type='range'] {
  padding: 0;
}

.hyperparam-list label {
  font-size: 24px;
}

.hyperparam-list .error {
  display: block;
}
.canvas {
  border: 1px solid black;
  display: block;
  margin-bottom: 8px;
}

.evaluation-container {
  display: inline-block;
}

.classification-report {
  margin-top: 16px;
}
.classification-report .data-column {
  font-size: 50px;
}

.classification-report th,
.classification-report td {
  padding: 20px 50px;
}
.evaluation-scores {
  text-align: center;
  margin-top: 32px;
  font-size: 22px;
}

.file-btns {
  margin-top: 8px;
}

.file-btn {
  margin-right: 8px;
}
