body {
  text-align: center;
}

.root {
  display: inline-block;
}

.show-instructions-btn {
  position: fixed;
  bottom: 2%;
  right: 1%;
  font-size: 40px;
  background: none;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.show-instructions-btn:focus {
  outline: none;
}

.instructions-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.instructions {
  position: fixed;
  background: #ffffff;
  top: 100px;
  width: 42em;
  padding: 10px;
  border-radius: 8px;
}

.instructions .close-icon {
  font-size: 48px;
  margin-right: 8px;
  cursor: pointer;
}

.instructions .close-icon:hover {
  color: #656364;
}

.instructions h1 {
  font-size: 40px;
  padding: 0 32px;
  padding-top: 16px;
}

.instructions ul {
  list-style: none;
  text-align: left;
  padding: 0 32px;
}

.instructions li {
  margin: 24px 0;
  font-size: 20px;
}

.instructions .instruction-note {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 32px;
}

.root-container {
  float: left;
  text-align: center;
  margin: 0 16px;
}

.alg-chooser-container {
  margin: 32px 0;
}

.alg-chooser-container select,
.alg-chooser-container label {
  font-size: 30px;
  margin-right: 8px;
}
.alg-chooser-container select {
  font-size: 20px;
  padding: 4px 8px;
}

.hyperparams-container {
  margin-bottom: 20px;
}

.hyperparam-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hyperparam-list li {
  text-align: center;
  width: 15em;
}

.hyperparam-list label,
.hyperparam-list input,
.hyperparam-list select,
.hyperparam-list option {
  display: block;
  font-size: 18px;
  padding: 2px 10px;
  margin: 0 auto;
  background: inherit;
  text-align: center;
}

.hyperparam-list input,
.hyperparam-list select,
.hyperparam-list option {
  max-width: 12em;
}

.hyperparam-list label {
  margin-bottom: 8px;
}

.hyperparam-list input[type='number'] {
  border: none;
  border-bottom: 2px solid #777777;
}

.hyperparam-list input[type='number']:focus {
  outline: none;
  border-color: #000000;
}

.hyperparam-list input[type='range'] {
  max-width: 12em;
  display: inline;
  margin-right: 4px;
  vertical-align: middle;
  margin-top: 8px;
  padding: 0;
}

.hyperparam-list label {
  font-size: 24px;
}

.hyperparam-list .range-indicator {
  display: inline-block;
  margin-top: 8px;
  font-size: 20px;
  vertical-align: middle;
}

.hyperparam-list select {
  margin-top: 8px;
}

.hyperparam-list .error {
  display: block;
  width: 100%;
}
.canvas {
  border: 1px solid black;
  background: white;
  display: block;
  margin-bottom: 8px;
}

.evaluation-container {
  display: inline-block;
}

.classification-report {
  margin-top: 16px;
}

.classification-report th,
.classification-report td {
  padding: 15px 24px;
}

.evaluation-scores {
  text-align: center;
  margin-top: 32px;
  font-size: 22px;
}

.data-control-btns {
  margin: 8px 0;
}

.data-control-btns .btn {
  margin-right: 8px;
}

.file-btn {
  margin-right: 8px;
}

@media only screen and (max-width: 1100px) {
  .root-container {
    float: none;
  }
}
