body {
  text-align: center;
}
.root {
  display: inline-block;
  margin-top: 32px;
}
.root-container {
  float: left;
  text-align: center;
  margin: 0 16px;
}

.canvas {
  border: 1px solid black;
  display: block;
  margin-bottom: 8px;
}

.analysis-container {
  display: inline-block;
}
.confusion-matrix {
  border-collapse: collapse;
  padding: 50px;
}

.confusion-matrix th,
.confusion-matrix td {
  font-size: 24px;
  font-weight: normal;
  padding: 10px 20px;
}

.confusion-matrix .data-column {
  border: 1px solid black;
  font-size: 50px;
  padding: 20px 40px;
}
